@import url('https://fonts.googleapis.com/css?family=Roboto');

$fontFamily: Roboto, Helvetica, sans-serif !important;

body {
  font-family: $fontFamily;
  background-color: #F5F5F5;
}

h1 {
  color: #369;
  font-size: 250%;
}

#page-not-found-icon {
  color: #fff;
  font-size: 60vh;
  margin-bottom: 0;
}

#message-404 {
  margin-top: 0;
}

.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.mdl-grid.center-items {
  justify-content: center;
}

.full-width{
  width: 100%;
}

.mdl-textfield-login {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;
  outline: none;
}

input {
  &:focus {
    outline: none;
  }
}

.logo {
  width: 100px;
}

.card-blank {
  padding: 30px 50px;
  border-radius: 2px;
  box-shadow: rgba(50, 50, 50, 0.0980392) 0px 0px 25px 1px;
  background-color: white;
  display: inline-block;
}

.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);    -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.nav-ribbon {
  width: 100%;
  height: 56px;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);    -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.demo-main {
  margin-top: -25vh;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.ribbon-logo {
align: center;
text-align: center;
}

.ribbon-image {
  width: 200px;
  animation: logo-move 5s ease-in-out infinite;
}

@keyframes logo-move {
	50% {
        transform: translateY(-8px);
    }
}

div .login-link {
text-align: center;
display: block;
margin: 25px auto 0px auto;
}

a {
  color: #FF6D00;
}

a:hover {
  color: #FFF176;
}

.nav-logo {
    width: 140px;
}

#main-content {
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
    display: block;
    background-color: grey;
}

#menu-builder {
    width: 1080px;
    height: 607.5px;
    display: inline-block;
    background-color:bisque;
    float:left;
}

#menu-settings {
    width: 20%;
    height: 607.5px;
    display: inline-block;
    background-color: firebrick;
}
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    list-style-type: none;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.home-grid {
}

.newMenu {
  border-radius: 7px;
  border-style: dashed;
  padding: 0 auto !important;
  border-color: #E0E0E0;
}

.newMenu:hover {
  background-color: #E0E0E0;
}


.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  text-align: center;
}

.header-title {
  color: #424242;
}

.item {
    width: 179.5px;
    height: 179.5px;
    float: left;
    background-color: white;
    border: 1px solid #333;
    border-color: hsla(0, 0%, 0%, 0.3);
}

.page-credits {
  text-align: center;
}

.error-page {
  // margin-top: 200px !important;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  color: white;
  text-align: center;
}

.loading-page {
  margin-top: 400px !important;
}

.mdl-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

.center-button {
  text-align: center;
}

#currSection{
    display:none;
}

.menuBuilderTitle {
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
}

.menuBuilderItem {
    text-align:center;
    margin-top:6px;
    font-size:50%;
}

.mdl-data-table {
  td:first-child {
    text-align: left;
  }
}
