<header class="mdl-layout__header">
    <link rel="stylesheet" href="../../../assets/css/menu-test.css">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><img class="nav-logo" src="../../../assets/menuoso_logo_white.png"></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
</header>
<div id="menu-builder">
    <div #grid class="grid">
        <div class="grid-item">t</div>
        <div class="grid-item grid-item--width2">t</div>
        <div class="grid-item">t</div>
    </div>
</div>

<button (click)="saveMenu()">Save Menu</button>