<!-- <div class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      <a href="#"><img class="logo" src="assets/menuoso_logo_white.png"></a>
    </span>

    <div class="android-header-spacer mdl-layout-spacer"></div>

    <div class="android-navigation-container">
      <nav class=" mdl-navigation">
        <a *ngIf="!loggedIn" class="mdl-navigation__link mdl-typography--text-uppercase" href="">Log In</a>
        <button *ngIf="!loggedIn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Sign Up</button>
      </nav>
    </div>

  </div>
</div> -->

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
      <a href="#"><img class="logo" src="assets/menuoso_logo_white.png"></a>
    </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a *ngIf="!loggedIn" class="mdl-navigation__link mdl-typography--text-uppercase" href="">Log In</a>
        <button *ngIf="!loggedIn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Sign Up</button>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      <a href="#"><img class="logo" src="assets/menuoso_logo.png"></a>
    </span>
    <nav class="mdl-navigation">
      <a *ngIf="!loggedIn" class="mdl-navigation__link mdl-typography--text-uppercase" href="">Log In</a>
      <button *ngIf="!loggedIn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Sign Up</button>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here --></div>
  </main>
</div>
