<div class="mdl-grid home-grid">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
        <h2 class="header-title">{{ title }}</h2>
        <button (click)="newMenuDialog.showModal()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">New Menu <i class="material-icons">add</i></button>
    </div>
    <div class="mdl-layout-spacer"></div>


    <div (click)="newMenuDialog.showModal()" class="mdl-cell mdl-cell--8-col mdl-cell--2-offset newMenu flex-center-vertically" *ngIf="menus.length == 0">
      <h5><strong>Click here to make your first menu!</strong></h5>
    </div>

    <div *ngFor="let menu of menus" class="demo-card-wide mdl-card mdl-shadow--2dp" mdl>
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">{{ menu.name }}</h3>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Get Started
        </button>
        <button [disabled]="!menu.isLive" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Go Live
        </button>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">mode_edit</i>
        </button>
      </div>
    </div>

    <dialog id="new-menu-dialog" class="mdl-dialog">
      <h3 class="mdl-dialog__title">New Menu</h3>
      <div class="mdl-dialog__content">
        <!-- menu name input -->
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="new-menu-name">
            <label class="mdl-textfield__label" for="new-menu-name">Name</label>
          </div>
          <!-- menu description input -->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" rows="3" id="new-menu-description">
            <label class="mdl-textfield__label" for="new-menu-description">Description</label>
          </div>
        </form>
      </div>
      <div class="mdl-dialog__actions">
        <button (click)="newMenuDialog.close()" type="button" class="mdl-button">Cancel</button>
        <button (click)="createNewMenu()" type="button" class="mdl-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Continue</button>
      </div>
    </dialog>
</div>
