* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.packery {
    max-width: 1080px;
}

    /* clearfix */
    .packery:after {
        content: ' ';
        display: block;
        clear: both;
    }

.item {
    width: 1080px;
    height: 607.5px;
    float: left;
    background: #C09;
    border: 4px solid #333;
    border-color: hsla(0, 0%, 0%, 0.3);
}

    .item:hover {
        border-color: white;
        cursor: move;
    }

    .item.is-dragging,
    .item.is-positioning-post-drag {
        border-color: white;
        background: #09F;
        z-index: 2;
    }

button {
    font-size: 20px;
}
