@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: Roboto, Helvetica, sans-serif !important;
  background-color: #F5F5F5; }

h1 {
  color: #369;
  font-size: 250%; }

.demo-layout-transparent {
  background: url("../assets/demos/transparent.jpg") center/cover; }

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white; }

.mdl-grid.center-items {
  justify-content: center; }

.full-width {
  width: 100%; }

.mdl-textfield-login {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;
  outline: none; }

input:focus {
  outline: none; }

.logo {
  width: 100px; }

.card-blank {
  padding: 30px 50px;
  border-radius: 2px;
  box-shadow: rgba(50, 50, 50, 0.0980392) 0px 0px 25px 1px;
  background-color: white;
  display: inline-block; }

.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.nav-ribbon {
  width: 100%;
  height: 56px;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.demo-main {
  margin-top: -25vh;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.ribbon-logo {
  align: center;
  text-align: center; }

.ribbon-image {
  width: 200px;
  animation: logo-move 5s ease-in-out infinite; }

@keyframes logo-move {
  50% {
    transform: translateY(-8px); } }

div .login-link {
  text-align: center;
  display: block;
  margin: 25px auto 0px auto; }

a {
  color: #FF6D00; }

a:hover {
  color: #FFF176; }

.nav-logo {
  width: 140px; }

#menu-builder {
  width: 60%;
  margin-left: 20%;
  margin-top: 2%; }
