<div class="mdl-grid center-items">
  <div class="mdl-cell mdl-cell--3-col">
        <form action="#">
          <!-- username input -->
          <h1><strong>Welcome Back!</strong></h1>
          <h4>Sign in and get working on your menus!</h4>
          <div class="mdl-textfield-login mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username">
            <label class="mdl-textfield__label" for="sample3">Username</label>
          </div>
          <br>
          <!-- password input -->
          <div class="mdl-textfield-login mdl-js-textfield mdl-textfield--floating-label">
            <input class="full-width mdl-textfield__input" type="text" id="password">
            <label class="full-width mdl-textfield__label" for="sample3">Password</label>
          </div>
          <br>
          <button class="full-width mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="login()">Login</button>
        </form>
  </div>
</div>
