<td>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}" name="name-{{ item?._id }}" type="text">
    <label class="mdl-textfield__label" for="name-{{ item?._id }}">Name</label>
  </div>
</td>
<td>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" [(ngModel)]="model.price" [ngModelOptions]="{standalone: true}" name="price-{{ item?._id }}" type="number">
    <label class="mdl-textfield__label" for="price-{{ item?._id }}">Price</label>
  </div>
</td>
<td>
  <button (click)="saveItem(item._id, model)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">check_circle</i>
  </button>
</td>

<div id="item-editor-snackbar-{{ item?._id }}" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
