<div class="content-grid mdl-grid center-items">
  <h1 class="mdl-cell mdl-cell--12-col">Edit Menu: {{ menu?.name }}</h1>

  <!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
    Save Changes
  </button> -->

  <div *ngFor="let section of menu?.sections" class="mdl-cell mdl-cell--8-col">
    <h2>{{ section.name }}</h2>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <tr *ngFor="let item of section.items">
        <item-editor [item]="item" mdl></item-editor>
      </tr>
    </table>
  </div>
</div>
